*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyPlaces{
    
    background: brown;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: #fff;

}

.container1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title{
    font-size: 4em;
    margin-bottom: 50px;

}

.cotent1{
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cotent1 .Image{
    position: relative;
    width: 888px;
    height: 400px;
    overflow: hidden;
}

.cotent1 .Image img{
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}

.cotent1 .text-box{
    z-index: 222;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.1) ;
    border-radius: 10px;
    transform: translate(-88px , 50px);

}

.cotent1 .text-box h3{
    font-size: 2em;
    margin-bottom: 10px;

}
.media-icone{
    margin-top:100px ;
}